@import "tailwindcss";


/* Add this under the utilities layer */
@layer utilities {
  .sleek-scroll::-webkit-scrollbar {
    width: 4px;
  }

  .sleek-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .sleek-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(99, 102, 241, 0.2);
    border-radius: 10px;
  }

  .sleek-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(99, 102, 241, 0.5);
  }
}